/* #font family use */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/* global font */
/* global css */
body{
    line-height:1.6;
    color:#707070;
    font-size:15px;
    font-family:'Roboto', Helvetica, sans-serif;
    font-weight:400;
    letter-spacing: 0.7px;
}

img{
    max-width:100%;
    height:auto;
    vertical-align:top;
}
p:last-child{
    margin-bottom: 0;
}

.small-size{
        font-size: 12px;
}


.data-dynamic-main{
        text-align: center;
    }

.data-dynamic{
    margin-bottom: 15px;
    color: #fff;
    position: relative;
    border-radius: 5px;
    text-align: center;
    background-color: #000;
    padding: 10px;
}


.data-dynamic > span{
    background-color: #e7e604;
    display: inline-block;
    border-radius: 50px;
    padding: 2px 10px;
    margin: 3px;
    color: #000;
}


.w-100{
    width:100%!important;
}

.class-x .radiocontainer.radio-inline{
    width: auto;
    clear: none;
}


.batchdetails-format .view-batch-btn{
    float: left;
}

.batchdetails-format .table-batch{
    display: none;
}

.batchdetails-format .view-batch-btn{
color: #fff!important;
    margin-bottom: 15px;

}


.choose-subjectradio .radiocontainer .checkmark{
    border-radius: 50%;
}









.batchdetails-format .table-batch tr:first-child td{
    background-color: #9d254d;
    color: #fff;
}

.batchdetails-format .table-batch td{
    font-size: 13px;
    padding: 5px;
    white-space: normal!important;
}

.whycuet p{
    text-align: justify; 
}

.whycuet .batchdetails-format{
display: none;
    float: left;
    width: 100%;
}

.whycuet .view-batch-btn{
background-color: #ff692e;
    border-radius: 3px;
    color: #fff;
    border: none;
}

.view-batch-btn.up-down{
background-color: #9d254d;
}

.view-batch-btn.up-down svg{
        transform: rotate(180deg);
}

.whycuet .batchdetails-format .table-new tr:first-child td{
background-color: #9d254d;
color: #fff;
}

.whycuet .batchdetails-format .table-new tr td{
        font-size: 13px;
    padding: 5px;
    white-space: normal!important;
}


/* mentor region css start */
.mentorregion-new ul li{
    float: left;
    width: 32.33%;
    clear: none;
    border: 1px #e9ecef solid;
    padding: 10px;
    box-shadow: -1px 4px 6px 1px rgb(233 221 233);
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    height: auto;
    margin-right: 10px;
    min-height: 130px!important;
}


.mentorregion ul .mentorcont .ratingfld{
    margin-bottom: 0;
}

.mentorregion-new ul .imagfldment img{
    height: auto;
    width: auto;
    padding: 3px;
    border-radius: 0px;
}

.mentorregion-new ul li:hover{
    background-color: #0b8689;
    color: #fff;
}

.mentorregion-new ul li:hover h3{
    color: #fff;
}

.mentorregion-new ul li:hover .mentorcont{
    color: #fff;
}

.mentorregion-new ul li:hover p{
    color: #fff;
}

.mentorregion-new .ratingfld{
/*    display: none;*/
}

.cuet-bottom .mentorregion-new .mentorcont .ratingfld strong{
    font-weight: 500;
    font-size: 13px;
    margin: 0px 0 5px 0;
    color: #f15a22;
    display: block;
    float: none;
}


.mentorregion-new ul li:hover .ratingfld strong{
  color: #ffed18!important;
}

.choose-subjectradio{
float: left;
    margin-bottom: 10px;
    clear: both;
    background-color: #9d254d;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.text-highlight{
    margin: 10px 0;
    color: #fff493;
    line-height: 20px;
    padding: 0px 7px;
    text-align: left;
    font-size: 16px;
}




.choose-subjectradio .radiocontainer.radio-inline{
width: auto;
    clear: none;
    margin-bottom: 0;
}
.choose-subjectradio .radiocontainer.radio-inline > a{
color: #fff;
    text-decoration: none;
}





.bannerregion .featuresfld.featuresfld4 li{
    width:25%;

}


.bannerregion .featuresfld .imagefldn img{
    max-height: 45px;
    background-color: #fff493;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 5px;

}

.bannerregion .featuresfld {
margin-bottom: 10px;
    background-color: rgb(6 39 63 / 23%);
    border-radius: 10px;
    box-shadow: 0 0px 4px 0 rgb(118 111 108);
   padding: 10px 5px;
}

.bannerregion h1 {
    margin-bottom: 10px;
  }
.bannerregion .featuresfld .featurcon {
    float: left;
    width: 100%;
  }

.bannerregion .featuresfld li{
text-align: center;
    border-right: none;
    margin-right: 0;
    padding: 10px;
}

.bannerregion .featuresfld .imagefldn {
    float: none;

}

.bannerregion .ratingfld{
      display: inline-block;
    clear: none;
    width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.bannerregion .ratingfld strong {
  margin-top: 5px;
}

.mentorregion-new h2{
    margin-top: 20px;
}

/* mentor region css close */

/* testi css start */

.subjectwrapper .testimonialfullwidth > h2:after {
width: Calc(100% - 205px);
left: 205px;
}

.testi h2{
    margin-top: 20px;
}


.regular .slick-prev{
    left:0!important;
    background-image: url(../images/left-arrow.png);

}
.regular .slick-next {
    right:0;
    background-image: url(../images/right-arrow.png);
}
.regular .slick-arrow{
    position: absolute;
    z-index: 9;
    border: 0;
    background-repeat: no-repeat;
    font-size: 0;
    top: 32%;
    width: 35px !important;
    height: 35px !important;
    padding: 0;
    cursor: pointer;
    background-color:#e85323!important;
    background-size: 18px;
    background-position: center;
    border-radius: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

.regular .slick-arrow:hover{
    background-color: #ff692e!important;
}


.regular .mentor-profile {
    background-color: #f1f1f1;
    text-align: left;
    padding: 30px 15px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    color: #333;
}

.regular .mentor-profile .rating{

}

.regular .mentor-profile .rating svg{
    color: #f15a22;
}



.regular .mentor-profile:before {
    border-top-color: #f1f1f1!important;
    border-width: 22px 0px 0px 33px!important;
    margin-left: 0px;
}
.regular .mentor-profile:before {
    top: 100%;
    right: 130px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
} 

.regular .mentor-profile:after {
    content: "";
    background: url(../images/106960_quote-testi.png) 0px 0px no-repeat;
    width: 81px;
    height: 71px;
    position: absolute;
    font-size: 300px;
    font-weight: normal;
    line-height: 40px;
    color: #ededed;
    left: 9px;
    top: 4px;
    z-index: 999;
}


.regular .mentor-profile img,
.regular .mentor-profile i{
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
    border: 3px #fff solid;
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 3px;
}

.regular .mentor-profile i{
    text-align: center;
font-size: 34px;
line-height: 80px;
}

.regular h5 {
    font-size: 18px;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 5px;
    color: #000;
}
.regular h6 {
font-size: 12px;
    margin-top: 0px;
    padding: 0;
    margin-bottom: 10px;
    color: #5a5a5a;
    letter-spacing: 0px;
}



.regular .author {
    display: inline-block;
    margin: 0px 0px 0px 25px;
    float: right;
}
.regular .author img {
background-color: #fbfbfb;
    border: 1px dashed #e85323;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
}
.regular span {
    margin: 20px 0px 0px;
}
.regular span {
    float: right;
    text-align: right;
    font-style: normal;
}

/* mCustom scroll bar settings */
.scroll-content .mentor-profile .mcustum,
.mentorregion-new li{
    height: 100px;
    min-height: inherit!important;
    overflow: auto;
    padding-right: 15px;
}

.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 50px!important;
    z-index: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .1)!important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
    background-color:#ffaf2e!important;
}

.mCSB_scrollTools{
    opacity: 1!important;
}

.more-sub strong {
    font-size: 17px;
    padding-top: 20px;
    display: inline-block;
    font-weight: 500;
    color: #f00;
}


/* testi css close */


.subjectwrapper h5 {
    margin-bottom: 25px;
}

 #testmonialbottreg h2{
   color: #707070;
    margin-top: 20px;
    text-align: left;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
 }

 .cuet-bottom{
      padding: 30px 0;
 }

 .techreqregiojn{
      padding-bottom: 0;
 } 

 .headerfilter .discount-new label{
  min-width: 100px;
 text-align: left;
 }

 .headerfilter .discount-new .discountCode{
width: 130px;
 }

  .headerfilter .discount-new.invitcodefld{
        margin-top: 5px;
    display: inline-block;
    width: 100%;
  }

 .headerfilter .discount-new.invitcodefld input.form-control {
width: calc(100% - 120px);
}


@media only screen and (max-width:767px){

.batchdetails-format .table-batch .table{
    width: 100%;

}

.choose-subjectradio .radiocontainer.radio-inline{
    margin-bottom: 5px;
}

    .bannerregion .ratingfld{
    float: left!important;
    margin: 10px 0;
    width: 100%;
  }

.headerfilter .price-container.card {
    margin-top: 0;
}


.headerfilter .discount-new .applyCode{    
  float: right;
    margin-top: 2px;
}


.bannerregion .featuresfld li{
 width: 50%;
    padding: 0 5px;
}


.bannerregion .featuresfld.full-division li{
 width: 50%;
    padding: 0 5px;
    min-height: 80px;
}

.bannerregion .featuresfld.featuresfld4 li{
    width: 50%;
     /*   min-height: 115px;*/
}

.bannerregion .featuresfld .imagefldn {
    margin: 0 auto;
}
.bannerregion .featuresfld {
    margin-bottom: 0;
}

.subjectwrapper h5 {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}

.bannerregion .blink{
  text-align: left;
}

.navbar-brand img {
    max-height: 26px;
}

.mentorregion-new{
  padding-left: 0;
   padding-right: 0;
}

.mentorregion ul .mentorcont h3{
text-align: center;
    font-size: 13px;
}


.mentorregion-new ul li{
width: 48%;
    min-height: 220px!important;
}

.mentorregion-new ul li .imagfldment{
    margin: 0 auto 15px auto;
    float: none;
    text-align: center;
}

.mentorregion-new ul li .mentorcont{
        width: 100%;
        text-align: center;
}
 .mentorregion-new li{
    height: auto;
 }


 #testmonialbottreg{
  padding-left: 0;
  padding-right: 0;
 }

 .mentorregion ul .mentorcont .ratingfld {
    margin-bottom: 0;
}

.mentorregion-new ul li:nth-of-type(2n+2) {
    margin-right: 0;
}


}

@media only screen and (max-width:480px){

.bannerregion .featuresfld.full-division li{
    min-height: 120px;
}



}


@media only screen and (max-width:385px){

.mentorregion-new ul li {
    min-height: 245px!important;
}



}



