



ul.listing{
    padding-left: 0;
}

ul.listing li{
    list-style: outside none none;
    margin: 0;
    padding: 5px 0 5px 25px!important;
    position: relative;
    text-align: left;
    font-size: 15px;
    color: #707070;
}

ul.listing li:before {
    color: #ff692e;
    content: "\f0a4";
    font-family: "FontAwesome";
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 5px;
    font-weight: 600;
}


.checkfreewaiver{
    background-color: #9d254d;
    color: #fff!important;
    padding: 10px;
    text-align: center;
    display: block;
    clear: both;
    text-decoration: none!important;
    font-weight: 600;
    border-radius: 8px;
}

.checkfreewaiver svg{
    margin-left: 3px;
}



#testseries-schedule .btn{
    color: #fff!important;
}


.spjmr-msg {
    background: #d7300a;
    border-radius: 20px;
    padding: 6px 12px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

h1 .spjmr-msg{
    font-size: 20px;
}




.ptb-0{
    padding-top: 0!important;
    padding-bottom: 0!important;
}


.text-yellow{
    color: #fbe41b;
}

.featuresfld.fundamentals{
    padding: 15px!important;
        margin-bottom: 15px!important;
}

.fundamentals h5{
    color: #ffdb00;
    margin-bottom: 15px!important;
}

.fundamentals label{
        padding: 0;
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
}

.fundamentals label input{
    margin-right: 5px;
}

.fundamentals .price-cl{
    text-align: right;
}

.fundamentals .price-cl > p{
    margin-bottom: 0;
    font-size: 12px;
}

.fundamentals .price-cl > p:last-child{
    color: #c0ff00;
    background-color: rgb(30 29 29 / 50%);
    border-radius: 20px;
    padding: 4px 5px;
}

.fundamentals .price-cl > p:last-child .blink{
    color: #c0ff00;
    font-size: 12px;
}


.fundamentals .col-md-12 p{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
}


.breadcrumbouter{
    margin-top: 75px;
}
.offerapril ~ .breadcrumbouter{
    margin-top: 0;
}
.contentregionouter{
    margin-top: 0px !important;
    position: relative;
}
.bannerimagediv{
    background-image: url(../images/backfroundimage.png);
    position: absolute;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.addoncontentnew .bannerimagediv{
    height: 450px;
}
.ipmbannernew{
    background-image: url(../images/bannerclat2020.png);
}
.mba2021onlinecom{
    background-image: url(../images/mba2021onlieclasses.png);
}

.ipmhighermaths{
    background-image: url(../images/106960_IPMAT-banner.jpg);
}

.mhtcetphysicsbanner{
      background-image: url(../images/106960_MHCET-banner.jpg);  
}

.neetphysicsbanner{
      background-image: url(../images/106960_NEETPHYSICS-1800-banner.jpg);  
}


.bannerimagediv:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 39, 54, .6);
}
.ipmbannernew:after{
    background-color: rgba(6, 39, 63, .6);
}
.mba2021onlinecom:after{
    background-color: rgba(0, 0, 0, .6);
}

.ipmhighermaths:after{
    background-color: rgba(6, 39, 54, .8);
}


.bannerregion{
color: #fff;
    letter-spacing: 0.7px;
    padding-top: 30px;
    padding-bottom: 0px;
    min-height: 400px;
}
.addoncontentnew .bannerregion{
    min-height: 450px;
}
.bannerregion h1{
        margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: left;
    line-height: 1.2;
}
.bannerregion .ratingfld{
    margin-bottom: 25px;
    display: block;
    clear: both;
    float: left;
    width: 100%;
}
.bannerregion .ratingfld svg{
       float: left;
    margin-right: 3px;
    font-size: 16px;
    color: #F15A22;
    height: 27px;
}
.bannerregion .ratingfld strong{
    float: left;
    font-size: 16px;
    margin-left: 5px;
}
.bannerregion .ratingfld p{
        float: left;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 0;
}
.bannerregion .featuresfld{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
}
.bannerregion .featuresfld li{
        float: left;
    padding-right: 15px;
    width: 32%;
    margin-right: 2%;
/*    border-right: 1px solid #fff;*/
}
.bannerregion .featuresfld li:last-child{
    padding-right: 0;
    margin: 0;
    border: 0;
}

.bannerregion .featuresfld li.centerdivision{
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    float: left;
    clear: both;
}



.bannerregion .featuresfld .imagefldn {
    float: left;
    margin-right: 10px;
}
.bannerregion .featuresfld .imagefldn svg{
    font-size: 37px !important;
    height: 52px;
    color: #F15A22;
}
.bannerregion .featuresfld .featurcon{
    float: left;
    width: calc(100% - 53px);
}
.bannerregion .featuresfld .featurcon h2{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: left;
    letter-spacing: 0.7px;
}
.bannerregion .featuresfld .featurcon p{
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.7px;
    line-height: 1.4;
}
.programtestout{
clear: both;
    float: left;
    width: 100%;
    text-align: left;   
}
.programtestout h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    text-align: left;
}
.progtesleft{
    float: left;
    width: 30%; 
}
.progtesleft .boxesfldpr{
    float: left;
    width: 48%;
    text-align: center;
    padding: 15px 5px;
    background: rgba(0, 78, 135, .6);
    min-height: 140px;
}
.progtesleft .boxesfldpr + .boxesfldpr{
    margin-left: 4%;
}
.progtesleft .boxesfldpr strong{
    font-size: 25px;
    font-weight: 400;
    display: block;
    color: #F15A22;
}
.progtesleft .boxesfldpr p{
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
}
.programtestrightfld{
    
}
.programtestrightfld .carousel {
    padding: 15px;
    background: rgba(0, 78, 135, .6);
}
.programtestrightfld{
        float: left;
    width: 60%;
    margin-left: 5%;

}
.programtestrightfld .item {
        
}
.programtestrightfld .fonttesqior{
    
}
.programtestrightfld .fonttesqior svg{
    
}
.programtestrightfld .imagetest{
    float: left;
    margin-right: 10px;
}
.programtestrightfld .imagetest img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
}
.programtestrightfld .contnettest{
float: left;
    width: calc(100% - 56px);
}
.programtestrightfld .contnettest p{
float: left;
    margin: 0;
    font-weight: 400;
    line-height: 1.4;
}
.programtestrightfld .contnettest strong{
    float: right;
    margin-top: 10px;
    
}
.carousel-indicators{
margin: 0;
    width: auto;
    bottom: 12px;
    left: 15px; 
}
.carousel-indicators li{
    
}
.carousel-indicators .active{
    background-color: #F15A22;
    border-color: #F15A22;
}
body{
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.4;
}
.aboutregion,
.mentorregion, 
.oftenboughtregion, 
.techreqregiojn, 
.benefitsregion, 
.studentbregion, 
.uniquefaeture , 
.registercontnet, 
.testmonialregionfld{
    padding-bottom: 40px;
}

.aboutregion h2,
.mentorregion h2, 
.oftenboughtregion h2, 
.techreqregiojn h2, 
.benefitsregion h2, 
.studentbregion h2, 
.uniquefaeture  h2 , 
.registercontnet h2, 
.testmonialregionfld h2{
    color: #707070;
    margin-top: 0;
    text-align: left;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;  
}

.aboutregion p,
.techreqregiojn p{
    clear: both;
    float: left;
    width: 100%;
    color: #707070;
    font-size: 15px;
}
.techreqregiojn ul{
    color: #707070;
    font-size: 15px;
    clear: both;
    float: left;
    width: 100%;
}
.techreqregiojn ul li{
    padding: 3px 0;
}
.techreqregiojn a{
    font-size: 15px;
    color: #F15A22;
}
.mentorregion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mentorregion ul li{
    margin-bottom: 25px;
    clear: both;
    float: left;
    width: 100%;
}
.mentorregion ul li:last-child{
    margin-bottom: 0;
}
.mentorregion ul .imagfldment{
    float: left;
    margin-right: 25px;
}
.mentorregion ul .imagfldment img{
    max-height: 83px;
    border-radius: 50%;
}
.mentorregion ul .mentorcont{
    float: left;
    width: calc(100% - 108px);
}
.mentorregion ul .mentorcont h3{
    margin-top: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #363636;
    font-size: 20px;
    letter-spacing: 0.7px;
}
.mentorregion ul .mentorcont .ratingfld{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.mentorregion ul .mentorcont .ratingfld svg{
    color: #F15A22;
    font-size: 16px;
    float: left;
    margin-right: 3px;
    height: 22px;
}
.mentorregion ul .mentorcont .ratingfld strong{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}
.mentorregion ul .mentorcont p{
    clear: both;
    float: left;
    width: 100%;
    color: #707070;
    font-size: 15px;
    margin-bottom: 5px;
}
.mentorregion ul .mentorcont p + p{
    margin: 0;
}

.oftenboughtregion{
    
}
.oftenboughtregion ul{
        margin: 0;
    padding: 0;
    list-style: none;
}
.oftenboughtregion li{
float: left;
    width: 48%; 
}
.oftenboughtregion li + li{
        margin-left: 4%;
}
.oftenboughtregion label{
    float: left;
    width: 100%;
    text-align: left;
    border: 1px solid #D6D6D6;
    padding: 15px;
    font-weight: 400;
    border-left: 5px solid #007E0D;
    position: relative;
}
.oftenboughtregion li + li label{
    border-left: 5px solid #FFEE00;
}
.oftenboughtregion .topfoldoft{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.oftenboughtregion .topfoldoft{
    
}
.oftenboughtregion .topfoldoft input{
    float: left;
}
.oftenboughtregion .topfoldoft h3 {
    float: left;
    margin: 0;
    margin-left: 10px;
    color: #363636;
    font-size: 20px;
    letter-spacing: 0.7px;
}
.oftenboughtregion .topfoldoft .infooften{
position: absolute;
    right: 0;   
}
.oftenboughtregion .infooften svg{
    color: #686868;
    font-size: 20px;
}
.oftenboughtregion .ratingfld{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.oftenboughtregion .ratingfld svg{
        color: #F15A22;
    font-size: 16px;
    float: left;
    margin-right: 3px;
    height: 22px;
}
.oftenboughtregion .ratingfld strong{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}
.pricingoften{
clear: both;
    float: left;
    width: 100%;
    font-size: 15px;
    color: #000000; 
}
.pricingoften strike{
    
}
.pricingoften span{
    
}

.benefitsaccordin{
    clear: both;
    float: left;
    width: 100%;
}
.benefitsaccordin .panel-group{
    margin: 0;
}
.benefitsaccordin .panel-group .panel{
      border: 0;
    border-radius: 0;
    background-color: #F6F6F6;
    clear: both;
    float: left;
    width: 100%;
}
.benefitsaccordin .panel-group .panel+.panel{
    
}
.benefitsaccordin .panel-default>.panel-heading{
    padding: 0;
    background: #fff;
}
.benefitsaccordin .panel-title{
    
}
.benefitsaccordin .panel-title a{
        padding: 10px 10px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    float: left;
    width: 100%;
    line-height: 24px;
    text-decoration: none !important;
}
.benefitsaccordin .benefitimgfl{
    float: left;
    margin-right: 20px;
}
.benefitsaccordin .panel-title .benefitimgfl svg{
    font-size: 18px !important;
    color: #F15A22;
    width: 30px;
}
.benefitsaccordin .panel-title a  span{
    font-weight: 400;
    position: absolute;
    right: 10px;
    font-size: 14px;
    color: #707070;
    top: 10px;
}

.benefitsaccordin .panel-collapse{
    clear: both;
    float: left;
    width: 100%;    
}
.benefitsaccordin .panel-collapse .panel-body{
border-top: 0px !important;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 10px;   
}

.benefitsaccordin .panel-collapse .panel-body ul{
    padding-left: 15px;
}

.benefitsaccordin .panel-collapse .panel-body ul li{
    padding: 3px 0;
    color: #707070;
font-size: 15px;
}

.benefitsaccordin .panel-body p{
    color: #707070;
    letter-spacing: 0.7px;
    line-height: 24px;
}
.benefitsaccordin .panel-body p:last-child{
    
}
.benefitsaccordin .panel-body strong{
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    color: #F15A22;
}

.studentbregion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.studentbregion ul li{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}
.studentbregion ul li:last-child{
    margin-bottom: 0px;
}
.studentbregion{
    
}
.studentbregion .stboimfld{
    float: left;
    margin-right: 20px;
}
.studentbregion .stboimfld img{
    width: 155px;
    height: auto;
}
.studentbregion .stconfldhe{
    float: left;
    width: 250px;
    margin-right: 120px;
}
.studentbregion .stconfldhe h3{
    margin-top: 0;
    font-size: 20px;
    color: #363636;
    letter-spacing: .5px;
    text-align: left;
    margin-bottom: 5px;
}
.studentbregion .stconfldhe p{
    color: #363636;
    font-size: 16px;
}
.studentbregion .ratingfld{
    float: left;
    width: 160px;
}
.studentbregion .ratingfld svg{
    color: #F15A22;
    font-size: 16px;
    float: left;
    margin-right: 3px;
    height: 22px;
}
.studentbregion .ratingfld strong{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}
.studentbregion .rupeesignfld{
    float: right;
    width: 130px;
    text-align: right;
}
.studentbregion .rupeesignfld p{
    font-size: 16px;
    margin-bottom: 5px;
}
.studentbregion .rupeesignfld .fontincrease{
font-size: 20px;
    font-weight: bold;  
}

.freevawies{
clear: both;
    float: left;
    width: 100%;
    margin-top: 0px;    
}
.freevawies h2{
    margin: 0;
    font-size: 20px;
    background-color: #06273F;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 3px;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.freevawies ul  {
    clear: both;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.freevawies li{
clear: both;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C1C1C1;   
}
.freevawies li > p{
margin-bottom: 5px;
    font-size: 15px;
    color: #707070;
}
.freevawies li > div{
    font-size: 15px;
    color: #000000;
}
.freevawies strike{
    
}
.freevawies span{
    
}
.freevawies strong{
    color: #F15A22;
    float: right;
}
.freevawies strong svg{
    font-size: 12px;
}

.paymentoprionsfld{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #06273F;
    color: #fff;
    letter-spacing: 0.7px;
    padding: 15px;
}
.paymentoprionsfld h3{
    color: #fff;
    margin-top: 0;
    text-align: left;
    font-size: 16px;
}
/* overwrite css product desc */
.freevawies{
    
}
.loyalty-offer{
    clear: both;
    box-shadow: initial;
    padding: 0;
}
.freewavierscon .loyalty-offer .mCSB_container > div{
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C1C1C1;
}
.loyalty-offer > div >div {
    
}
.loyalty-offer .btn{
/*    color: #F15A22;
    float: right;
    border: 0;
    padding: 0;
    border-radius: 0;
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: 0.7px;*/

    color: #F15A22;
    float: right;
    padding: 0;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    display: inline-block;
    line-height: 1.42857143;

}


.loyalty-offer .btn:hover{
        background: #ff692e;
    color: #fff;
    transition: 0.5s;
    padding: 0px 5px 0 5px;
}


.loyalty-offer .btn svg{
    
}
.loyalty-offer h3{
    margin-bottom: 5px;
    font-size: 15px;
    color: #707070;
    display: block;
    font-weight: 400;
    letter-spacing: 0.7px;
    margin-top: 0;
    line-height: 1.4;
}
.loyalty-offer p{
    font-size: 15px;
    color: #000000;
    float: left;
    margin: 0;
}
.loyalty-offer .gap{
    
}
.studentbregion ul li a{
    color: #232323;
}
studentbregion .ratingfld {
    width: 110px;
}
.studentbregion .stconfldhe{
    margin-right: 80px;
}
.studentbregion .ratingfld {
    width: 105px;
}




.header-v1 .price-container.card {
    background-color: #06273F;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 0;
    border-radius: 15px;
}
.headerfilter {
    margin-top: 20px;
    padding: 0;
    clear: both;
    float: left;
    background: transparent;
}
.header-v1 label {
    color: #fff;
}
.header-v1 .price-container, .header-v1 .strike_price, .header-v1 .doantercpntfld p, .header-v1 .doantercpntfld a, .header-v1 .logodonate i, .header-v1 .price-container p, .payemnewdwisng label, .payemnewdwisng #installmentPlans input, .header-v1 form h4, #payNow p {
    color: #fff!important;
}
.texhsjowdi{
    display: none;
}
.texhsjowdi.collapsed{
    display: block;
}

/* Sub nav region */
.subnavigation{
border-bottom: 1px solid #eee;
    box-shadow: 0 4px 6px -6px rgba(0,0,0,.2);
    margin-bottom: 30px;
}
.subnavigation ul{
margin: 0;
    padding: 0;
    list-style: none;
}
.subnavigation ul li{
display: inline-block;
    vertical-align: top;
}
.subnavigation ul li a{
    padding: 14px 20px;
    display: block;
    color: #58585a;
    font-size: 16px;
}

.subheaderoputer{
    border-bottom: 1px solid #eee;
    box-shadow: 0 4px 6px -6px rgba(0,0,0,.2);
    margin-bottom: 30px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 9;
    display: none;
}
.subheaderoputer .subnavigation{
    border-bottom: 0;
    box-shadow: inital;
    margin: 0;
}
.subheaderoputer.darkHeader{
    display: block;
}



.liveintreactive, .liveintreactive2, .liveintreactive3{
        font-size: 15px;
    color: #F15A22;
}
.liveintreactivecont, .liveintreactivecont2, .liveintreactivecont3{
    display: none;
}
.liveintreactivecont h3{
color: #707070;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 500;
}
.liveintreactivecont ul{
    padding-left: 25px;
    color: #707070;
    letter-spacing: 0.7px;
    font-size: 14px;
}
.liveintreactivecont li{
padding: 3px 0;
}
.contentinefdldi:not(last-child){
    padding-bottom: 15px;
}
.disvshowhidecon{
    display: block;;
}


.coursedetails .panel-default {
    margin: 0;
    border-radius: 0;
    border: 0;
    box-shadow: initial;
}
.coursedetails .panel-default>.panel-heading {
    background-color: #e8e8e8;
    border-radius: 0;
    padding: 0;
    border-bottom: 0px;
    overflow: hidden;
    position: relative;
}
.coursedetails .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    float: left;
    width: 100%;
}
.coursedetails .panel-title > a > strong {
    float: left;
    line-height: 25px;
    font-size: 14px;
    color: #58585a;
    letter-spacing: 0;
}
.coursedetails .right-content2 {
        float: right;
    margin-right: 20px;
    text-align: center;
}
.coursedetails .right-content2 p:first-child{
    display: none;
}
.coursedetails .right-content2 p {
    float: left;
    min-width: 125px;
    margin: 0;
    line-height: 25px;
    color: #707070;
    font-size: 13px;
}
.coursedetails .right-content2 p span {
    color: tomato;
}
.coursedetails .panel-heading .glyphicon {
    position: absolute;
    right: 10px;
    width: 25px;
    text-align: center;
    background-color: #FF692E;
    height: 25px;
    line-height: 25px;
    color: #fff;
    top: 10px;
    font-size: 13px;
}
.benefitsaccordin .coursedetails .panel-collapse .panel-body {
    padding: 10px 15px !important;
    font-size: 13px;
    color: #707070;
}
.coursedetails .panel-body ul {
    margin: 0;
    padding: 0;
}
.coursedetails .panel-body li {
    list-style: none;
    float: left;
    width: 100%;
    clear: both;
}
.coursedetails .panel-body li > p {
    float: left;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 13px;
    margin: 0;
}


.ontnet3fld{
    padding-bottom: 15px;
}
.ontnet3fld h3{
    color: #707070;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 500;
}
.benefitsaccordin .panel-body .ontnet3fld strong{
    font-size: 13px;
    padding: 0;
    color: #707070;

}
.ontnet3fld table {
color: #707070;
    font-size: 13px;
}
.ontnet3fld table tr:first-child{
background-color: #f6f6f6;
}

/* Yaadon ki dukaan */
.yaadonkidukaancont .bannerregion .featuresfld li{
width: 17%;
}
.yaadonkidukaancont .bannerregion .featuresfld li:nth-of-type(3){
width: 28%;
}
.yaadonkidukaancont .bannerregion .featuresfld .imagefldn svg{
font-size: 20px !important;
    height: auto;
}
.yaadonkidukaancont .bannerregion .featuresfld .featurcon p{
font-size: 13px;
    margin-bottom: 4px;
}
.yaadonkidukaancont .bannerregion .featuresfld .featurcon h2{
    margin-bottom: 0;
    font-size: 14px;
}
.yaadonkidukaancont .bannerregion .featuresfld .featurcon{

}
.yaadonkidukaancont .programtestrightfld{
margin: 0;
    width: 100%;
}
.yaadonkidukaancont .programtestrightfld .contnettest{
 width: 100%;
}
.yaadonkidukaancont .programtestrightfld .contnettest p{
    min-height: 57px;
}

.yaadonkidukaancont .subnavigation ul li a{
    padding: 14px 13px;
}
.aboutthebook h2{
color: #707070;
    margin-top: 0;
    text-align: left;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.aboutthebook .leftcontwithimage{

}
.leftcontwithimage .floatimg{
float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.leftcontwithimage .floatimg img{
max-width: 250px;
    height: auto;
}
.leftcontwithimage p{
color: #707070;
    font-size: 15px;
}
.leftcontwithimage p:last-child{
    margin-bottom: 0;
}
.aboutthebook{
    padding-bottom: 40px;
}
.yaadonkidukaancont .imagefldpanel{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.yaadonkidukaancont .imagefldpanel img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.socail-list{
margin-top: 20px;
    color: #707070;
    font-size: 14px;
}
.socail-item{
margin-bottom: 15px;
}
.socail-item .socail-img{
   float: left;
    margin-right: 15px;
    width: 25px; 
}
.socail-item .socail-img svg{
    font-size: 18px;
    color: #F15A22;
}
.socail-item .socail-content{
    display: inline-block;
}
.socail-item .socail-content p{
    margin-bottom: 0;
}
.socail-item .socail-content p {
    
}
.subcontflddivs{
    margin-bottom: 25px;
}

.uniquefaeture  h2{
    
}
.uniquefaeture  h3 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 5px;
    color: #363636;
    font-size: 16px;
    letter-spacing: 0.7px;
}
.uniquecontent{
    margin-bottom: 20px;
    display: block;
    float: left;
    width: 100%;
    clear: both;
}
.uniquefaeture  p, .registercontnet  p  {
    clear: both;
    float: left;
    width: 100%;
    color: #707070;
    font-size: 15px;
    margin-bottom: 5px;
}
.registercontnet a{
    float: left;
}

.programtestrightfld2{
    padding: 15px;
    background: rgba(0, 78, 135, .6);
    float: left;
    width: 60%;
    margin-left: 5%;
}
.programtestrightfld2 h2{

}
.contentaddon{
    margin: 0;
    padding: 0;
    text-align: left;   
}
.contentaddon input{
    float: left;
    margin: 0;
}
.contentaddon div{
    float: left;
    margin-left: 10px;
    width: calc(100% - 27px);
}
.contentaddon div h3{
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.4;
}
.contentaddon div p{
    margin: 0;
    font-size: 13px;
    color: #fff;
    letter-spacing: 0.7px;
    font-weight: 400;
}
.progtesleft .boxesfldpr p{

}
.contentaddon div div{
    margin-top: 10px;
    color: #fff;
    width: 100%;
    margin-left: 0;
}
.testmonialregionfld{
    padding-bottom: 40px;
}
.testmonialregionfld h2{
    color: #707070;
    margin-top: 0;
    text-align: left;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}
.testmonialregionfld .programtestrightfld{
    width: 100%;
    margin: 0;
}
.testmonialregionfld .programtestrightfld .carousel{
    background-color: transparent;
    padding: 0;
}
.testmonialregionfld .carousel-indicators li{
    border-color: #ddd;
}
.testmonialregionfld .programtestrightfld .contnettest p {
    min-height: 60px !important;
    color: #707070;
    font-size: 15px;
}

/*****video-section start***/
.video-wrap{
float: left;
clear: both;
width: 60%;
margin-bottom: 20px;
}

.video-wrap h2{
color: #342e37;
font-weight: 400;
font-size: 18px;
margin: 0;
}

.video-frame {
text-align: center;
font-weight: 600;
}

.video-frame iframe{
 width: 100%;
border: 5px #fff2c0 solid;
}

/*****video-section close***/


/*****cuetmultipleprogram-section start***/
.cuetmultipleprogram{
    margin-top: 10px;
}


.cuetmultipleprogram .form-control{
    height: auto;
        padding: 8px 10px;
        border: 1px solid #aaa;
        border-radius: 0px;
}

.cuetmultipleprogram h3{
    font-size: 16px;
    color: #ffeb00!important;
    text-align: left;
    margin-top: 0;
    letter-spacing: 0.7px;
}

.cuetmultipleprogram h4{
    font-size: 14px;
}

.cuetmultipleprogram table{
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.cuetmultipleprogram .check-icon{
display: inline-block;
    margin-right: 5px;
}

.cuetmultipleprogram .fee-text{
display: inline-block;
}

.cuetmultipleprogram .fee-text strong{
color: #ffeb00;
}

.ms-options-wrap span.label{
font-weight: 600;
    font-size: 14px;
    text-align: left;
    padding: 4px 4px!important;
    margin: 0;
    width: 100%;
    color: #333;
}


.ms-options-wrap .ms-options{
    top: 36px;
    background: #fff;
    padding: 10px;
    z-index: 9;
    width: 100%;
    border: 1px #f3e6e6 solid;
    box-shadow: 0 4px 6px -6px rgb(0 0 0 / 20%);
}


.ms-options ul{
margin: 0!important;
padding: 0;
}

.ms-options ul li{
    list-style: none;
    color: #333;
    padding-left: 0!important;
    margin-right: 0!important;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

.ms-options ul li label{
font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.ms-options-wrap button:after{
font-family: FontAwesome;
    content: "\f107";
    border: none!important;
    top: 8px;
    right: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"]{
    top: 2px;
    margin-right: 5px;
}

.multipleprogram .threeformfild{
    padding: 0 10px;
    position: relative;
}

.multipleprogram .threeformfild .plus-icon{
    position: absolute;
    top: 10px;
    left: -5px;
    font-size: 16px;
}

.selectmsg{
    font-size: 11px;
    margin-top: 2px;
}

p.terms{
    float: left;
    width: 100%;
    clear: both;
}

p.terms .waiver-text{
        float: right;
}

p.terms label {
    font-size: 13px;
    font-weight: normal;
    display: block;
    padding: 0 0 0 20px;
    color: #fff;
    position: relative;
    margin: 0;
}

p.terms label input {
    color: #ffdf2c;
    position: absolute;
    left: 0;
    top: 0;
    margin-top:3px;
}

.waiver-text{
/*color: #ffdf2c;*/
margin-left:20px;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
     font-size: 15px;
    color: #fbe41b;
    margin-top: 0;
    position: relative;
    display: inline-block;
    font-weight: 600;
/*    background: #4b3844c4;
    padding: 5px 10px;
    border-radius: 20px;*/
    text-align: center;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}




.subjectwrapper .testimonialfullwidth{
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    position: relative;
    background-color: transparent;
    margin-bottom: 20px;
}

.subjectwrapper .testimonialfullwidth > h2{
    color: #ffdb00;
    padding: 1px 10px;
    text-align: left;
    position: absolute;
    left: 20px;
    top: -7px;
    width: Calc(100% - 20px);
    display: block;
}

.subjectwrapper .testimonialfullwidth > h2:before{
content: "";
    width: 20px;
    background-color: #fff;
    height: 1px;
    position: absolute;
    left: -20px;
    top: 7px;
}

.subjectwrapper .testimonialfullwidth > h2:after{
    content: "";
    width: Calc(100% - 145px);
    background-color: #fff;
    height: 1px;
    position: absolute;
    left: 145px;
    top: 7px;
}

.subjectwrapper .testimonialfullwidth > h2.long-title:after{
    width: Calc(100% - 340px);
    left: 340px;
}

.subjectwrapper .testimonialfullwidth > h2.long-title2:after{
    width: Calc(100% - 270px);
    left: 270px;
}

.subjectwrapper .testimonialfullwidth .threeformfild{
    padding-top: 10px;
}


/*.subjectwrapper.cuet-express-classroom .testimonialfullwidth > h2:after{
   content: "";
    width: Calc(100% - 205px);
    background-color: #fff;
    height: 1px;
    position: absolute;
    left: 205px;
    top: 7px;
}*/

.subjectwrapper h5{
margin-bottom: 15px;
margin-top: 0;
}


.pt-0{
    padding-top: 0!important;
}

.subjectwrapper .programaddon{
    background-color: rgba(0, 78, 135, .6);
    border:none!important;
} 


.threeformfild{
      float: left;
      width: 33.33%;
    }
    
    .progtesleft {
  float: left;
}
.subjectwrapper .radiouterfld{
      
    }
.subjectwrapper .radiocontainer {
   display: inline-block;
  position: relative;
/*  margin-bottom: 5px;*/
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: none;
  vertical-align: top;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  line-height: 12px;
  font-weight: 400;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  clear: both;
  float: left;
  width: 100%;
  text-align: left;
}
.subjectwrapper .radiocontainer input {
position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
}
.subjectwrapper .checkmark {
position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 0;
}
.subjectwrapper .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.subjectwrapper .radiocontainer input:checked ~ .checkmark {
    background-color: #071201a6;
}
.subjectwrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.subjectwrapper .radiocontainer input:checked ~ .checkmark:after {
  display: block;
}
.subjectwrapper .radiocontainer .checkmark:after {
    top: -1px;
    left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #00ff14;
    font-size: 10px;
}

.claimsubjects{
background-color: rgba(0, 78, 135, .6);
margin: 15px 0;
padding: 15px;

}

.claimsubjects h4{
        margin-top: 0;
}

.claimsubjects .radioouterprosclect{
    display: block;
}


.claimsubjects .radioouterprosclect .radio{
        width: 100%;
    margin-bottom: 10px;
    margin-left: 0!important;
}

.claimsubjects .radioouterprosclect .radio label{
    border: none;
    margin: 0;
    padding: 0;
    color: #fc0;
}


.claimsubjects .radioouterprosclect .radio .radio-left{
float: left;
    margin-right: 10px;
    width: 28%;
}

.claimsubjects .radioouterprosclect .radio .radio-left label input{
    margin-top: 3px;
}

.claimsubjects .radioouterprosclect .radio .radio-right{
float: left;
}

.claimsubjects .radioouterprosclect .radio .radio-right span{
    margin-right: 5px;
    font-size: 14px;
}

.claimsubjects .radioouterprosclect .radio .radio-right span.subjectval{
color: #ff692e;
margin-right: 0;
}




















    
/*    @media only screen and (max-width:767px){
      .progtesleft{
        width: 100% !important;
  margin-top: 10px;
      }
      .progtesleft .boxesfldpr{
        min-height: initial;
      }
    }
*/

/*****cuetmultipleprogram-section close***/

/* Mentor add on */
.programtestrightfld2 > h3{
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    font-family: 'Roboto', Helvetica, sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.btnouteradd{
    
}
.btnouteradd .btn{
        float: none;
    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 38px;
}
.checkboxment{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;   
}
.checkboxment.showdiv{
    display: block;
    text-align: left;
}
.checkboxment li{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-top: 15px;
    width: 48%;
}
.checkboxment li:nth-last-of-type(2n){
    margin-right: 0;
}
.checkboxment label{
        margin: 0;
    float: left;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: left;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.checkboxment label input{
    float: left;
    margin: 0;
}
.checkboxment label input + div{
    float: left;
    margin-left: 10px;
    width: calc(100% - 27px);
}
.checkboxment label input + div p{
    margin: 0;
}
.checkboxment label input + div p + p{
    
}
.mentormodalfild {
    
}
.mentormodalfild .modal-header{
    background-color: #ff692e;
}
.mentormodalfild .modal-header .close{
    opacity: 1;
    color: #000;
    text-shadow: initial;
    background-color: #fff;
    width: 26px;
    line-height: 26px;
    border-radius: 50%;
}
.mentormodalfild .modal-title{
    color: #fff;
}
.mentormodalfild .modal-body{
    padding: 15px;
}








/* cuet multibox css */


.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    
}


#msform fieldset:not(:first-of-type) {
    display: none
}


#msform .action-button {
    cursor: pointer;
    background-color: #ffeb00;
    border: 1px #ffeb00 solid;
    padding: 6px 24px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    float: right;
    color: #333;
}


#msform .action-button-previous {
color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    padding:6px 24px;
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

/*.ms-options-wrap button{
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px 10px;
}*/


    .cuetmultisubject-bg{
    width: 100%;
    /*background-image: url(https://clsite-file1.s3.amazonaws.com/6858_hero-bg121.jpg);*/
    height: 100%;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
        background-color: #041c2e;
}

.cuetmultisubject-bg:before{
background: linear-gradient(to right, #1a1515, #333d81);
    opacity: 0.7;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    content: "";
}

.cuetmultisubject-bg .bannerimagediv{
    display: none;
}





.bannerregion .custumtestseries {
    margin-bottom: 10px;
    background-color: rgb(6 39 63 / 23%);
    border-radius: 10px;
    box-shadow: 0 0px 4px 0 rgb(118 111 108);
    padding: 10px 5px;
}

.bannerregion .custumtestseries li {
    width: 25%;
    text-align: center;
    border-right: none;
    margin-right: 0;
    padding: 10px;
}

.bannerregion .custumtestseries .imagefldn {
    float: none;
}

.bannerregion .custumtestseries .imagefldn img {
    max-height: 45px;
    background-color: #fff493;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.bannerregion .custumtestseries .featurcon {
    float: left;
    width: 100%;
}




.cuet-multibox{
padding: 10px;
    border: 1px #bdbdbd dashed;
    position: relative;
}

.cuet-multibox th{
    position: relative;
    font-size: 12px;
    border-bottom: 1px solid #ddd!important;
    text-align: center;
    min-width: 130px;
    white-space: normal!important;
}

.cuet-multibox td{
    padding: 10px!important;
}

.cuet-multibox th .info-link{
position: absolute;
    top: 0;
    right: 0;
    color: #ffeb00;
}




.subjectwrapper .cuet-multibox .checkmark{
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;

}

.subjectwrapper .cuet-multibox .radiocontainer .checkmark:after{
    border-radius: 2px;
}

.self-msg{
    background-color: #fff7c1eb;
    color: #333;
    padding: 6px 12px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.self-msg span{
    color: #ff0000;
    font-weight: 600;
}


.self-msg p{
    margin-bottom: 0;
}

.moreinfo-link{
    float: right;
}

.moreinfo-link a{
color: #ffeb00;
    font-size: 13px;
}

.feature-benefits h2{
   color: #333;
    text-align: left; 
}

.feature-benefits-inner{
     text-align: center; 
}

.feature-benefits-inner thead{
    background-color: #fff8c8;
}

.feature-benefits-inner th{
    text-align: center;
    font-size: 12px;
}

.feature-benefits-inner th,
.feature-benefits-inner td{
white-space: normal!important;
    padding: 5px!important;
}


.feature-benefits-inner .fa-check{
color: #00b050;
font-size: 16px;
}

.feature-benefits-inner .fa-times{
    color: #ff0000;
    font-size: 16px;
    
}

.cuet-multibox .summery-text{
display: none;
    position: absolute;
    top: 0;
    background-color: #ff692e;
    z-index: 99;
    text-align: left;
    left: 10px;
    padding: 5px;
}

.cuet-multibox .summery-text ul{
    margin:0;
    padding: 0;
}

.cuet-multibox .summery-text ul li{
    list-style: none;
    margin-top: 5px;
    font-weight: normal;
    font-size: 11px;
    padding-left: 12px;
    position: relative;
}

.cuet-multibox .summery-text ul li .fa-check{
    position: absolute;
    left: 0px;
    top: 2px;
    font-size: 8px;
}

.cuet-multibox .summery-text .close-icon{
position: absolute;
    top: -2px;
    right: 2px;
    cursor: pointer;
}


.ms-options-wrap > button:focus, 
.ms-options-wrap > button{
    color: #333;
}

.cuet-multibox span.select-box {
    font-weight: normal;
}





/****mba css start***/

.cuet-multibox .form-card{
    clear: both;
}

.checkexammain{
    float: left;
    width: 100%;
}

.full-clr{
    background-color: #4d575c;
}

.checkexam{
float: left;
    margin-bottom: 2px;
    background-color: #9d254d;
    padding: 5px;
    border-radius: 3px;
    clear: both;
}

.checkexam h5{
    margin-bottom: 0!important;
    float: left;
    min-width: 280px;
}

.checkexamwrap {
float: left;
}


.checkexam .radiocontainer .checkmark{
    border-radius: 50%;
}



.checkexam label{
    color: #fff;
    padding: 0;
    font-weight: normal;
    margin-right: 20px;
}

.checkexam label a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

 .checkexam input{
    
}

.checkexamwrap .checkmark{
    left: 0!important;
    transform: inherit!important;
}

.checkexamwrap .radiocontainer{
    clear: none;
    width: auto;
    margin-bottom: 0;
}

.common-multibox{
border: none;
    padding: 0;
}

.common-multibox tr th{
    font-size: 12px;
    border-bottom: none!important;
}

.common-multibox tr td{
    border: none!important;
    font-size: 12px;
}

.common-multibox tr th:first-child,
.common-multibox tr td:first-child{
border-right: 1px #ddd solid!important;
}

.common-bg .ratingfld{
    margin-bottom: 0;
}


.batch-info{
    border-bottom: 1px #fff solid;
    padding: 1px;
    font-size: 12px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.batchdetails label{
padding: 0 0 3px 0;
    font-size: 12px;
    text-align: left;
    color: #fff;
}

.batchdetails label input{
}

.batchdetails label svg{
    color: #ffeb00;
}

.mt-15{
    margin-top: 15px!important;
}

.batchdetails h2{
    margin-bottom: 0;
}

.selectedprogram{

}


.selectedprogram .selectedprograminner{
    
}


.selectedprogram .selectedprograminner{
    border: 1px #7d7f85 solid;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    float: left;
    width: 100%;
    
}

.course-left{
    float: left;
    width: calc(100% - 50px);
}

.course-left label{

}

.course-left p{
margin-bottom: 0;
}

.course-fee{

}

.course-fee p{
margin-bottom: 0;
}


.course-left .radiocontainer .checkmark{
left: 0!important;
    transform: inherit!important;
}


.setup-content #add-on{
width: auto;
    padding: 6px 20px;
    background-color: transparent;
}

.copiedttextmain{
    text-align: right;
    clear: both;
}

.copiedttextmain span{
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

.copiedttextmain span a{
    color: #fff;
    text-decoration: underline;
}


.headerfilter .discount-new .discountCode{
        width: 131px;
}

.common-multibox .form-card{
    clear: both;
    border: 1px #ddd dashed;
    padding: 10px;
    margin: 10px 0;
    float: left;
    width: 100%;
}

.common-multibox .form-card2{
    border:none;
    padding: 0;
    margin:0;
}


/****mba css close**/











/* faq block start */

.faq-block{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.faq-block h2{
color: #333;
    text-align: left;
}

.accordion-panel{
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 0;
    display: block;
}

.accordion-panel h3{
    margin: 15px 0;
    font-size: 15px;
    color: #9d254d;
    clear: both;
}

.accordion-panel .panel {
width: 100%;
margin-bottom: 10px !important;
box-shadow: inherit;
padding: 0;
border: none;
}

.accordion-panel .panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ffff;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accordion-panel .panel + .panel {
    margin-top: 15px;
}
.accordion-panel .panel-default>.panel-heading a {
display: block;
    padding: 20px 0px 20px 55px;
    color: #333;
    outline: none;
    box-shadow: 0 5px 15px 0 rgba(68,68,68,.1);
    position: relative;
}

.accordion-panel .panel-default>.panel-heading a:after {
    content: "";
    position: absolute;
    top: 18px;
    display: inline-block;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    border: 1px solid #222;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    left: 22px;
}

.accordion-panel .panel-default>.panel-heading a[aria-expanded="true"] {
  background-color:#c1b4f9;
}

.accordion-panel .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.accordion-panel .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-panel h4.panel-title{
  font-weight: 500;
}

.accordion-panel h4.panel-title a{
    text-decoration: none!important;
}

.accordion-panel .arrow-list{
  padding-left:0;
}

.accordion-panel .arrow-list li i{
  margin-right:4px;
}

.accordion-panel .panel .panel-body{
background-color: #fff;
    border: 0;
    -webkit-box-shadow: 0 5px 15px 0 rgba(68,68,68,.1);
    box-shadow: 0 5px 15px 0 rgba(68,68,68,.1);
}

/* faq block close */

.cuet-bottom .loyalty-offer a.btn{
    background-color: transparent;
    color: #F15A22;

}

.cuet-bottom .freewavierscon h2 {
    margin-top: 0;
    background-color: #06273F;
    color: #fff;
    font-size: 20px;
    padding: 12px 10px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 0;
}

.cuet-bottom .freewavierscon .loyalty-offer {
    margin: 10px 0;
    padding: 15px;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    border-top: 0;
    float: left;
    width: 100%;
    height: 270px;
}


.cuet-bottom .freewavierscon .loyalty-offer::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.cuet-bottom .freewavierscon .loyalty-offer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.cuet-bottom .freewavierscon .loyalty-offer::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #ced0d3;
  border-radius: 10px;
}


/* Navigation Start */
.cuetmultisubject-bg + .navigationreg{
    border-bottom: 1px solid #eee;
    box-shadow: 0 4px 6px -6px rgb(0 0 0 / 20%);
    margin-bottom: 30px;
    position: relative;
}
.cuetmultisubject-bg + .navigationreg ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.cuetmultisubject-bg + .navigationreg ul li{
    display: inline-block;
    vertical-align: top;
}
.cuetmultisubject-bg + .navigationreg ul li a{
    padding: 14px 20px;
    display: block;
    color: #58585a;
    font-size: 16px;
}


@media only screen and (max-width:767px){

.breadcrumbouter {
    margin-top: 65px;
}
.row.gst + div.row{
    margin-bottom: 5px;
}
    

.subjectwrapper{
    margin-top:15px;
}

.threeformfild {
    width: 100%!important;
}


.bannerimagediv {
    height: 1220px!important;
}

.bannerimagediv.bannerimagedivclass1{
 height: 1410px!important;
}


.cuetsubject-bg .bannerimagediv {
    height: 1455px!important;
}


.multipleprogram .threeformfild{
    width: 100%;
    margin-top: 10px;
}

.video-wrap {
    width: 100%;
}
    
    .subheaderoputer, .subheaderoputer.darkHeader{
        display: none;
    }
    .subnavigation{
        display: none;
    }
    .bannerimagediv{
            height: 600px;
    background-size: cover;
    }
    .addoncontentnew .bannerimagediv{
        height: 660px;
    }
    .bannerregion h1{
        font-size: 20px;
    margin-bottom: 15px;
    }
    .bannerregion .ratingfld{
        margin-bottom: 15px;
    }
    .bannerregion .featuresfld{
        margin-bottom: 10px;
    }
    .bannerregion .featuresfld li{
        border-right: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    }
    .bannerregion .featuresfld .imagefldn svg{
            height: auto;
    font-size: 30px !important;
    }
    .bannerregion .featuresfld .imagefldn{
        width: 40px;
    }
    .bannerregion .featuresfld .featurcon{
        
    }
    .headerfilter{
        margin-top: 0;
    }
    .headerfilter .discount-new label{
        margin-right: 10px;
    }
    .headerfilter .discount-new .discountCode{
        width: 120px;
    }
    .headerfilter .discount-new .applyCode{
        
    }
    .progtesleft{
        width: 100%;
    margin-bottom: 15px;
    }
    .programtestout h2{
        color: #fff;
    }
    .progtesleft .boxesfldpr{
        background: rgba(0, 78, 135, 1);
    }
    .programtestrightfld{
        margin-left: 0;
        width: 100%;
    }
    .programtestrightfld .carousel {
        padding: 15px;
        background: rgba(0, 78, 135, 1);
        min-height: 180px;
    }
    .oftenboughtregion li{
        width: 100%;
    }
    .oftenboughtregion li + li{
        margin-left: 0;
        margin-top: 15px;
    }
    .oftenboughtregion .topfoldoft h3{
        font-size: 18px;
    }
    .studentbregion ul li a{
        border: 1px solid #D6D6D6;
        float: left;
        width: 100%;
        padding: 10px;
    }
    .studentbregion .stboimfld{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .studentbregion .stboimfld img{
        width: 100%;
    }
    .studentbregion .stconfldhe{
            margin-right: 0;
    width: 100%;
    }
    .studentbregion .stconfldhe h3{
        font-size: 18px;
    }
    .studentbregion .ratingfld{

    }
    .studentbregion .rupeesignfld{
        float: left;
    width: 100%;
    text-align: left;
    margin-top: 6px;
    }
    .studentbregion .rupeesignfld p{
        float: right;
    margin-bottom: 0;
    margin-left: 15px;
    line-height: 20px;  
    }
    .programtestrightfld2{
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
        background: rgba(0, 78, 135, 1);
    }
}
@media only screen and (max-width: 767px){

.build-mobile{
    padding: 0!important;
}


.build-mobile .table-responsive{
        margin-bottom: 0;
        border:none!important;
}


.common-multibox tr td{
    white-space: normal!important;
}
.checkexam h5 {
margin-bottom: 5px!important;
}
.copiedttextmain span {
    margin-bottom: 3px;
}

.bannerregion .custumtestseries li {
    width: 50%!important;
    min-height: 130px;
    margin-bottom: 0;

}

.bannerregion .featuresfld .imagefldn {
    margin: 0 auto;
}





    .yaadonkidukaancont .bannerregion .featuresfld li {
        width: 50%;
    margin-bottom: 10px;
    }
    .yaadonkidukaancont .bannerregion .featuresfld li:nth-of-type(3){
          width: 50%;
    }
    .yaadonkidukaancont .bannerregion .featuresfld .imagefldn {
        width: 25px;
    }
    .yaadonkidukaancont .bannerregion .featuresfld .featurcon {
        width: calc(100% - 37px);
    }
    .aboutthebook{
            padding-top: 0px;
    }
    .leftcontwithimage .floatimg{
        margin-right: 0;
    width: 100%;margin-bottom: 10px;
    }
    .leftcontwithimage .floatimg img{
        width: 100%;
    max-width: initial;
    }
    .yaadonkidukaancont .header-v1 .price-container.card{
        margin-top: 10px;
    }
    .yaadonkidukaancont .programtestrightfld .contnettest strong{
        float: left;margin-bottom: 15px;
    }
    .yaadonkidukaancont .programtestout{
        margin-bottom: 30px;
    }
}